mat-grid-list {
  align-items: flex-start;
  justify-content: flex-start;
}
.find-post-form {
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  
  .post-input-field {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}